# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.suo
*.cache
*.log

# Environment Variables
.env

# Logs
logs/
*.log

# IDE
.vs/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Test Results
TestResults/
*.trx

*.db